# vim: set syntax=zsh:
alias ls='ls -F --color=auto'
alias l='ls -lh'
alias la='ls -lha'
alias ll='ls -lh'

alias a='atom .'
alias b='bolt'
alias d='cd ~/dev/aux'
alias k='k -h'
alias o='open .'
alias y='yarn'
alias yd='~/Developments/yarn/bin/yarn'
alias yui='yarn upgrade-interactive'

alias cask='brew cask'

function take () { mkdir -p $1 && cd $1 }

# Git
alias g='git'
alias gl='git pull'
alias gp='git push'
alias gm='git merge'
alias gco='git checkout'
alias gcm='git checkout master'
alias gcd='git checkout develop'

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'