# vim: set syntax=zsh:
# alias ls='ls -F --color=auto'
alias ls='exa'
alias l='exa -l'
alias la='exa -la'
alias ll='exa -l'

alias cat='bat'

alias c='cargo'
alias g='git'
alias k='k -h'
alias o='open .'
alias p='pnpm'
alias v='nvim'
alias y='yarn'

function take () { mkdir -p $1 && cd $1 }

# Git
alias g='git'
alias gl='git pull'
alias gp='git push'
alias gm='git merge'
alias gco='git checkout'
alias gcm='git checkout master'
alias gcd='git checkout develop'

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
