# vim: set syntax=zsh:
# alias ls='ls -F --color=auto'
alias ls='exa'
alias l='exa -l'
alias la='exa -la'
alias ll='exa -l'

alias cat='bat'

alias a='atom .'
alias b='bolt'
alias c='cargo'
alias k='k -h'
alias o='open .'
alias y='yarn'

alias cask='brew cask'

function take () { mkdir -p $1 && cd $1 }

# Git
alias g='git'
alias gl='git pull'
alias gp='git push'
alias gm='git merge'
alias gco='git checkout'
alias gcm='git checkout master'
alias gcd='git checkout develop'

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# v8
alias d8=~/dev/v8/out.gn/x64.optdebug/d8
alias tick-processor=~/dev/v8/tools/mac-tick-processor
