[user]
	email = to.rifat@gmail.com
	name = Rifat Nabi
[alias]
	s = status -sb
	st = status
	co = checkout
	ci = commit
	br = branch
	l = log --pretty=oneline --abbrev-commit
	d = diff
  	dc = diff --cached
 	aa = add --all
[core]
	excludesfile = ~/.gitexcludes
	ignorecase = false
[color]
	ui = auto
[push]
	default = simple
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[diff]
	tool = Kaleidoscope
	compactionHeuristic = true
[credential]
	helper = osxkeychain
[color "diff"]
	# http://qiita.com/qurage/items/452f2debb64e2708a46c
	# https://gist.github.com/jasonm23/2868981
	meta = 242 238
	frag = 239 236
	old = 196 normal
	new = 082 normal
	context = 240
	commit = 246 024
