[user]
	email = to.rifat@gmail.com
	name = Rifat Nabi
[alias]
	s = status -sb
	st = status
  sw = switch
	co = checkout
	ci = commit
	br = branch
	l = log --pretty=oneline --abbrev-commit
	d = diff
	dc = diff --cached
	aa = add --all
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[core]
	excludesfile = ~/.gitexcludes
	attributesFile = ~/.gitattributes
	ignorecase = false
	pager = diff-so-fancy | less -FXRi
	precomposeUnicode = true
	usebuiltinfsmonitor = true
	untrackedcache = true
	# pager = delta
[color]
	ui = auto
[push]
	default = current
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[diff]
	tool = Kaleidoscope
	compactionHeuristic = true
[credential]
	helper = cache --timeout=3600
[color "diff"]
	# http://qiita.com/qurage/items/452f2debb64e2708a46c
	# https://gist.github.com/jasonm23/2868981
	meta = 242 238
	frag = 239 236
	old = 196 normal
	new = 082 normal
	context = 240
	commit = 246 024
[stash]
	showPatch = true
[rebase]
	autostash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[commit]
	gpgsign = true
[delta]
	plus-style = syntax "#012800"
	minus-style = normal "#340001"
	syntax-theme = Monokai Extended
[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[include]
	path = ~/.gitconfig.local
[fetch]
	prune = true
	pruneTags = true
	writeCommitGraph = true
[includeIf "gitdir:~/dev/atlassian/"]
	path =  ~/dev/atlassian/.gitconfig
[rerere]
	enabled = true
