"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter"
      "whitespace"
    ]
    packagesWithKeymapsDisabled: [
      "nuclide"
      "emmet"
    ]
    telemetryConsent: "limited"
    useCustomTitleBar: true
  editor:
    fontFamily: "Operator Mono"
    showInvisibles: true
  emmet:
    extensionsPath: "~/.emmet"
  "exception-reporting":
    userId: "29888311-d9a9-b135-7fe0-ffd8012703e2"
  "expand-region": {}
  "file-icons": {}
  "linter-eslint":
    globalNodePath: "/usr/local"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  nuclide:
    installRecommendedPackages: true
    "nuclide-distraction-free-mode":
      hideFindAndReplace: true
      hideStatusBar: true
      hideToolBar: true
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
    "nuclide-notifications": {}
  "tool-bar":
    iconSize: "16px"
    position: "Left"
    visible: false
  welcome:
    showOnStartup: false
