".source.js":
  "ES2016: Import":
    prefix: "im"
    body: "import ${1:React} from '${1:react}';";

  "ES2016: Import Local":
    prefix: "iml"
    body: "import ${1} from './${1}';";

  "ES2016: Import React with Component":
    prefix: "imrc"
    body: "import React, { Component } from 'react';";

  "React: Component":
    prefix: "rc"
    body: """
      import React, { Component } from 'react';

      export default class ${1:HelloWorld} extends Component {
        render () {
          return (
            <div>$2</div>
          );
        }
      }
    """;

  "React: Container":
    prefix: "rcc"
    body: """
      import React, { Component } from 'react';
      import { connect } from 'react-redux';

      class ${1:HelloWorld} extends Component {
        render () {
          return (
            <div>$2</div>
          );
        }
      }

      const mapStateToProps = (state: State) => ({});

      export default connect(mapStateToProps)(${1:HelloWorld});
    """;

  "React: componentWillMount":
    prefix: "cwm"
    body: """
      componentWillMount () {
        $1
      }
    """;

  "React: componentDidMount":
    prefix: "cdm"
    body: """
      componentDidMount () {
        $1
      }
    """;

  "React: componentWillReceiveProps":
    prefix: "cwrp"
    body: """
      componentWillReceiveProps () {
        $1
      }
    """;

  "React: shouldComponentUpdate":
    prefix: "scu"
    body: """
      shouldComponentUpdate () {
        $1
      }
    """;

  "React: componentWillUpdate":
    prefix: "cwu"
    body: """
      componentWillUpdate () {
        $1
      }
    """;

  "React: componentDidUpdate":
    prefix: "cdu"
    body: """
      componentDidUpdate () {
        $1
      }
    """;

  "React: componentWillUnmount":
    prefix: "cwum"
    body: """
      componentWillUnmount () {
        $1
      }
    """;

  "Flow: init":
    prefix: "fl"
    body: "/* @flow */";

  "JSX: Backpack Two Columns":
    prefix: "2c"
    body: ".block>section.two-columns>article+aside";
