* {
  -webkit-font-smoothing: antialiased;
}

atom-workspace,
atom-text-editor {
  font-family: "Operator Mono";
  font-size: 14px;
  font-weight: 400;
}

atom-panel.tool-panel, atom-pane {
  font-size: 0.95em;
}

.editor, atom-text-editor::shadow {
  .flowtype,
  .entity.other.attribute-name {
    font-style: italic;
  }
}
